{% extends 'layout.html' %}

{% block content %}

<header>
    <h1><u>Welcome to MY-STORE - Your Premier Online Grocery Store!</u></h1>

    <p>At MY-STORE, we are committed to providing you with a convenient and hassle-free grocery shopping experience right from the comfort of your own home. With a wide selection of fresh, high-quality products and a user-friendly website, we strive to make your grocery shopping simple, enjoyable, and efficient.<br>
        Discover a vast assortment of farm-fresh fruits and vegetables, pantry essentials, dairy products, meats, seafood, bakery items, and much more. We source our products from trusted local suppliers and renowned brands to ensure superior quality and freshness in every order.</p>
</header>
<main>
    <h2>Why choose MY-STORE?</h2>
    <ul>
        <li>Extensive Product Range: Explore our extensive range of products, from everyday essentials to gourmet treats. Whatever you need, we've got you covered.</li>
        <li>Freshness Guaranteed: We understand the importance of freshness. Our team meticulously selects the finest produce and products to deliver the highest quality items to your doorstep.</li>
        <li>User-Friendly Website: Our website is designed with you in mind. Enjoy a seamless browsing experience, easy search functionality, and a secure checkout process.</li>
        <li>Time-Saving Convenience: Say goodbye to long queues and heavy shopping bags. Shop at your own pace, anytime, and anywhere. We'll deliver your groceries directly to your doorstep.</li>
        <li>Competitive Prices: We strive to offer competitive prices without compromising on quality. Take advantage of our special offers and discounts to get the best value for your money.</li>
        <li>Reliable Delivery: Our dedicated delivery team ensures prompt and reliable service. Sit back and relax as we bring your groceries to your doorstep, right on time.</li>
        <li>Excellent Customer Support: Our friendly and knowledgeable customer support team is here to assist you with any queries or concerns. Your satisfaction is our top priority.</li>
    </ul>
    Experience the future of grocery shopping with MY-STORE. Start browsing our extensive collection today and enjoy the convenience of online grocery shopping like never before!
    Your satisfaction is our success, and we look forward to serving you and meeting all your grocery needs.
</main>
<hr>
<footer>
    <table>
        <thead>
        <tr>
            <th>
                Phone: 9163810815
            </th>
            <th>
                Mail : <a href="mailto:sbpanda1308@gmail.com>"> sbpanda1308@gmail.com  </a>
            </th>
            <th>
                Instagram : <a href="https://instagram.com/_sumit_panda_?igshid=MzNlNGNkZWQ4Mg=="> <b>Sumit Panda </b></a>
            </th>
            <th>
                Site : <a href={{url_for('index')}}> MY-STORE</a>
            </th>
        </tr>
        </thead>
    </table>
</footer>

{% endblock %}