<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BILL</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <nav class="nav-section">
        <table>
            <thead>
                <tr>
                    <th><u><a href="{{url_for('index')}}"> HOME</a> </u></th>
                    <th><u><a href="{{url_for('about')}}">ABOUT</a></u></th>
                    <th><u><a href="{{url_for('catalogue')}}">CATALOGUE</a></u></th>
                    <th><u><a href="{{url_for('add')}}"> ADD</a> </u></th>
                    <th><u><a href="{{url_for('update_item')}}"> UPDATE</a></u></th>
                    <th><u><a href="{{url_for('delete_itemid')}}"> DELETE</a> </u></th>
                    <th><u><a href="{{url_for('buy')}}"> BUY</a> </u></th>
                    <th><u><a href="{{url_for('cart')}}"> CART</a> </u></th>
                    <th><u><a href="{{url_for('reset')}}"> RESET</a> </u></th>

<!--                    <th><u><a href="#cart"> CART</a> </u></th>-->
<!--                    <th><u><a href="#checkout"> CHECKOUT</a> </u></th>-->

                </tr>
            </thead>
        </table>
    </nav>

    <div class="cart-container">
        <div class="cart">
            <h2>MY CART</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>PRICE</th>
                            <th>QUANTITY</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in bought_items %}
                            <tr><td>{{item._id}}</td><td>{{item.NAME}}</td><td>{{item.PRICE}}</td><td>{{item.QUANTITY}}</td></tr>
                        {% endfor %}
                        <tr><td></td><td></td><td>Total Price:{{net_price}}</td><td>Total Quantity:{{net_quantity}}</td></tr>
<!--                        <tr><td colspan="2">Total Quantity:{{net_quantity}}</td><td colspan="2">{{net_quantity}}</td></tr>-->
                    </tbody>
                </table>
        </div>
    </div>
</body>
</html>