{% extends 'layout.html' %}

{% block catalogue %}

<div class="catalogue">

        <h2 id="items">ITEMS IN MY-STORE</h2>
        <div class="item-list">
<!--            <a type="button" href={{url_for('catalogue')}}>Items</a>-->
            <table>

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>PRICE</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in outlet %}
                    <tr><td>{{item._id}}</td><td>{{item.name}}</td><td>{{item.price}}</td></tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

</div>

 {% endblock %}